# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Nicki Bayer\OneDrive - student.kit.edu\Desktop\FINAL_TF2_FILES\TF_2_Notebooks_and_Data\09-Deployment\flask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
